{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Full Prep Academy is a premier tutoring company that offers a diverse range of services, including expert tutoring in Math and Physics. We also provide a selection of high-quality textbooks and educational products to enhance learning. Join us for personalized learning experiences and access to top-notch educational resources." />
    <title>Full Prep Academy</title>
    <link rel="icon" type="image/png" href="{% static 'images/favicon.png' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/services_style.css' %}">
</head>
<body>

  {% include '../partials/header.html' %}

  <section class="services">
    <h1>Our Tutoring Services</h1>
    <h3>$80 CAD per hour</h3>
    <div>
      <div class="service">
          <img src="{% static 'images/math.png' %}" alt="Subject Icon">
          <h3>Math Grade 7 - 12</h3>
          <p>We offer tutoring in all math subject areas, from basic integers to calculus and trigonometry.</p>
          <a href="{% url 'subject_detail' 'math' %}"><button class="cta-button contact-btn learn-btn">Learn More</button></a>
      </div>
      <div class="service">
          <img src="{% static 'images/physics.png' %}" alt="Tutors Icon">
          <h3>Physics Grade 11 - 12</h3>
          <p>We cover all relevant university prep level physics concepts including modern physics.</p>
          <a href="{% url 'subject_detail' 'physics' %}"><button class="cta-button contact-btn learn-btn">Learn More</button></a>
      </div>
      <div class="service">
          <img src="{% static 'images/coding.png' %}" alt="Flexible Icon">
          <h3>Coding</h3>
          <p>We cover full stack development and algorithms covered in bootcamps and beyond.</p>
          <a href="{% url 'subject_detail' 'coding' %}"><button class="cta-button contact-btn learn-btn">Learn More</button></a>
      </div>
    </div>
  </section>

  <section class="testimonials">
    <h2>Testimonials</h2>
    <div>
      <div class="testimonial">
          <img src="{% static 'images/5star.png' %}" alt="Subject Icon">
          <h3>Joanna</h3>
          <p>Full Prep helped my son tremendously to find his footing in high school Math.</p>
      </div>
      <div class="testimonial">
        <img src="{% static 'images/5star.png' %}" alt="Subject Icon">
        <h3>Tyler</h3>
          <p>I don't know where I'd be without Full Prep. The tutors helped me greatly.</p>
      </div>
      <div class="testimonial">
        <img src="{% static 'images/5star.png' %}" alt="Subject Icon">
        <h3>Zarin</h3>
          <p>Probably the best tutor I've ever had!</p>
      </div>
    </div>
  </section>

  {% include '../partials/footer.html' %}

</body>
</html>