<header>
  <nav>
      <div>
        <li><a class="collapsible" href="/">Home</a></li>
        <li><a class="collapsible" href="/tutoring">Tutoring</a></li>
        <li><a class="collapsible" href="/materials">Course Materials</a></li>
        <li><a class="collapsible" href="/about">About Us</a></li>
        <li><a class="collapsible" href="/contact">Contact</a></li>
        <li><a class="collapsible" href="/booking">Book a Tutor</a></li>          
        <!-- {% if user.is_authenticated %}
          <li><a class="collapsible" href="/logout">Logout</a></li>
        {% else %}
          <li><a class="collapsible" href="/signup">Subscribe</a></li>
        {% endif %} -->
        <li class="collapse-trigger"><a href="#">☰</a></li>
      </div>
  </nav>
    <div class="sub-menu collapsed">
      <li><a href="/">Home</a></li>
      <li><a href="/tutoring">Tutoring</a></li>
      <li><a href="/materials">Materials</a></li>
      <li><a href="/about">About Us</a></li>
      <li><a href="/contact">Contact</a></li>
      <li><a href="/booking">Book a Tutor</a></li>
      <!-- {% if user.is_authenticated %}
        <li><a href="/logout">Logout</a></li>
      {% else %}
        <li><a href="/signup">Subscribe</a></li>
      {% endif %} -->
    </div>
  </div>
</header>