<header>
  <nav>
      <ul>
          <li><a class="home-logo" href="/">Full Prep</a></li>
          <li><a class="collapsible" href="/">Home</a></li>
          <li><a class="collapsible" href="/services">Services</a></li>
          <li><a class="collapsible" href="/about">About Us</a></li>
          <li><a class="collapsible" href="/contact">Contact</a></li>
          <!-- {% if user.is_authenticated %}
            <li><a class="collapsible" href="/logout">Logout</a></li>
          {% else %}
            <li><a class="collapsible" href="/signup">Register</a></li>
          {% endif %} -->
          <li><a class="collapsible" href="/booking">Book Now</a></li>
          <li class="collapse-trigger"><a href="#">☰</a></li>
      </ul>
  </nav>
    <ul class="sub-menu collapsed">
      <li><a href="/services">Services</a></li>
      <li><a href="/about">About Us</a></li>
      <li><a href="/contact">Contact</a></li>
      <!-- {% if user.is_authenticated %}
        <li><a href="/logout">Logout</a></li>
      {% else %}
        <li><a href="/signup">Register</a></li>
      {% endif %} -->
      <li><a href="/booking">Book Now</a></li>
    </ul>
  </div>
</header>